.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px 30px;
    color: #fff;
  }
  
  .logo a {
    display: flex;
    align-items: center;
  }

  
  
  .logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #76a9fa;  /* Cor azul do seu projeto */
    transition: color 0.3s;
  }
  
  .logoutButton:hover {
    color: #80ace2; /* Cor quando o ícone é hoverizado */
  }
  
  .logoutButton:focus {
    outline: none;
  }
  