.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: #e0e0e0;
}

.uploadContainer {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.uploadBox {
  border: 2px dashed #76a9fa;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #2c2c2c;
  position: relative;
}

.fileInputWrapper {
  position: relative;
  width: 100%;
}

.fileInput {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.uploadInfo {
  text-align: center;
  pointer-events: none; /* Para garantir que o texto não receba clique */
}

.filePrompt {
  color: #bbbbbb;
}

.fileName {
  font-size: 16px;
  color: #76a9fa;
}

.uploadButton {
  background-color: #76a9fa;
  color: #121212;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.uploadButton:disabled {
  background-color: #666666;
  cursor: not-allowed;
}

.uploadButton:hover {
  background-color: #508fda;
}

.progressBar {
  background-color: #333333;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  height: 8px;
  width: 100%;
}

.progress {
  background-color: #76a9fa;
  height: 100%;
  transition: width 0.4s ease;
}

.resultContainer {
  margin-top: 30px;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
}

.resultTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.resultText {
  font-size: 16px;
  color: #cccccc;
}

.fileLinkContainer {
  margin-top: 20px;
}

.fileLink {
  font-size: 16px;
  color: #76a9fa;
  text-decoration: none;
}

.fileLink:hover {
  text-decoration: underline;
}

.error {
  color: #ff6b6b;
  margin-top: 15px;
}
